TowerSelection {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 64px;
    justify-content: center;
    align-items: flex-end;

    .icons {
        gap: 12px;
        padding: 2px;
        align-items: flex-end;

        .icon {
            border: 4px solid black;
            background-color: #3b90d6;
            width: 128px;
            height: 128px;
            background-size: contain;
            margin-bottom: 0px;
            transform: scale(1);
            transition: margin-bottom 100ms cubic-bezier(0.34, 1.56, 0.64, 1),
                        transform 100ms cubic-bezier(0.34, 1.56, 0.64, 1);

            .cost {
                position: absolute;
                transform: translate(-20%, -20%);
                font-family: Arial;
                font-size: 18px;
                padding: 6px 6px;
                color: white;
                background-color: rgb(12, 152, 12);
                box-shadow: 2px 2px 1px black;
            }
        }

        .isSelected {
            margin-bottom: 32px;
            transform: scale(1.08);
        }
    }
}
