WaveDisplay {
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, 0);
	text-align: left;
	text-shadow: 4px 4px 0px black;
	font-family: Arial;
	font-size: 64px;
	color: white;
	justify-content: center;
	align-items: flex-end;
}
