{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "tower": "Ignore",
    "player": "Collide",
    "nonsolid": "Ignore"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "player",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "tower",
      "b": "player",
      "r": "Ignore"
    },
    {
      "a": "nonsolid",
      "b": "nonsolid",
      "r": "Ignore"
    },
    {
      "a": "player",
      "b": "nonsolid",
      "r": "Ignore"
    },
    {
      "a": "tower",
      "b": "nonsolid",
      "r": "Ignore"
    },
    {
      "a": "world",
      "b": "nonsolid",
      "r": "Unset"
    },
    {
      "a": "solid",
      "b": "nonsolid",
      "r": "Ignore"
    }
  ],
  "__guid": "10c86f74-1cdc-42ed-9b3d-da507d77fdc8",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}