{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "None"
    },
    {
      "Name": "Run",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "shift",
      "GamepadCode": "None"
    },
    {
      "Name": "PrimMouse",
      "GroupName": "Actions",
      "Title": "Primary Action",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None"
    },
    {
      "Name": "SecMouse",
      "GroupName": "Actions",
      "Title": "Secondary Action",
      "KeyboardCode": "mouse2",
      "GamepadCode": "None"
    },
    {
      "Name": "Sell",
      "GroupName": "Actions",
      "Title": "Sell Tower",
      "KeyboardCode": "r",
      "GamepadCode": "None"
    },
    {
      "Name": "Use",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "e",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot1",
      "GroupName": "Selection",
      "Title": "Slot #1",
      "KeyboardCode": "1",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot2",
      "GroupName": "Selection",
      "Title": "Slot #2",
      "KeyboardCode": "2",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot3",
      "GroupName": "Selection",
      "Title": "Slot #3",
      "KeyboardCode": "3",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot4",
      "GroupName": "Selection",
      "Title": "Slot #4",
      "KeyboardCode": "4",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot5",
      "GroupName": "Selection",
      "Title": "Slot #5",
      "KeyboardCode": "5",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot6",
      "GroupName": "Selection",
      "Title": "Slot #6",
      "KeyboardCode": "6",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot7",
      "GroupName": "Selection",
      "Title": "Slot #7",
      "KeyboardCode": "7",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot8",
      "GroupName": "Selection",
      "Title": "Slot #8",
      "KeyboardCode": "8",
      "GamepadCode": "None"
    },
    {
      "Name": "Slot9",
      "GroupName": "Selection",
      "Title": "Slot #9",
      "KeyboardCode": "9",
      "GamepadCode": "None"
    },
    {
      "Name": "Holster",
      "GroupName": "Selection",
      "Title": "Holster",
      "KeyboardCode": "H",
      "GamepadCode": "None"
    },
    {
      "Name": "Voice",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "v",
      "GamepadCode": "None"
    },
    {
      "Name": "Score",
      "GroupName": "Other",
      "Title": "Scoreboard",
      "KeyboardCode": "tab",
      "GamepadCode": "None"
    },
    {
      "Name": "Menu",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Chat",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "enter",
      "GamepadCode": "None"
    },
    {
      "Name": "Vote",
      "GroupName": "Actions",
      "Title": "Vote",
      "KeyboardCode": "P",
      "GamepadCode": "None"
    }
  ],
  "__guid": "5d30127c-b6ea-4680-9213-d72b00d664d4",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}